apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart 
  namespace: roboshop
  labels:
    project: roboshop
    component: cart 
    tier: backend 
spec:
  replicas: 1
  selector:
    matchLabels: 
      project: roboshop
      component: cart 
      tier: backend
  template:
    metadata:
      labels:
        project: roboshop
        component: cart 
        tier: backend
    spec:
      containers:
      - name: cart 
        image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: cart
        ports:
        - name: liveness-port
          containerPort: 8080
        readinessProbe:
          httpGet: 
            path: /health
            port: liveness-port
          initialDelaySeconds: 30
          failureThreshold: 1
          periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /health
            port: liveness-port
          initialDelaySeconds: 30
          failureThreshold: 1
          periodSeconds: 15