apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: roboshop
  labels:
    project: roboshop
    component: frontend
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      project: roboshop
      component: frontend
      tier: frontend
  template:
    metadata:
      labels:
        project: roboshop
        component: frontend
        tier: frontend
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
        imagePullPolicy: Always
        ports:
        - name: liveness-port
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: liveness-port
          initialDelaySeconds: 30
          failureThreshold: 1
          periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /
            port: liveness-port
          initialDelaySeconds: 30
          failureThreshold: 1
          periodSeconds: 15
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf 
          subPath: nginx.conf 
      volumes: 
      - name: nginx-config
        configMap: 
          name: frontend