apiVersion: v1 
kind: Service
metadata:
  name: frontend
  namespace: roboshop
spec:
  type: {{ .Values.service.type }}
  selector:
    project: roboshop
    component: frontend
    tier: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080